
@font-face {
    font-family: 'PP Mori';
    src: url('../public/fonts/PPMori-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PP Neue Montreal Bold';
    src: url('../public/fonts/ppneuemontreal-bold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Neue Montreal';
    src: url('../public/fonts/ppneuemontreal-medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PP Neue Montreal';
    src: url('../public/fonts/ppneuemontreal-thin.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'PP Neue Montreal', sans-serif;
    overflow-x: hidden;
}

.marquee-container {
    width: 100vw;
    overflow: hidden; 
    position: relative;
    margin-top: 5vh;
    z-index: 0;
}

.marquee-track {
    display: flex;
    white-space: nowrap;
    width: max-content; 

    animation: scrollText 20s linear infinite;
}

.headerBox {
    font-family: 'PP Neue Montreal Bold', sans-serif;
    font-weight: 800;
    color: #D2042D;
    text-transform: uppercase;
    line-height: 0.8;
    font-size: 49px; 
    padding-right: 100px; 
}

@media (max-width: 768px) or (max-height: 768px)  {
    .marquee-track {
        animation: none;
        flex-direction: column;
        width: 100%;
    }

}